 .AboutMe {
            padding: 100px 10%;
            background: #0a0826;
        }

        .about-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;
        }

        .about-img img {
            width: 350px;
            border-radius: 20px;
            /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5); */
        }

        .about-content h2 {
            font-size: 40px;
            margin-bottom: 10px;
        }

        .about-content h2 span {
            color: #a968e6;
        }

        .about-content h3 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #ddd;
        }

        .about-content p {
            font-size: 16px;
            line-height: 1.7;
            margin-bottom: 15px;
            color: #cfcfcf;
        }

        .skills {
            margin-top: 20px;
        }

        .skills span {
            display: inline-block;
            background: #171055;
            padding: 8px 15px;
            border-radius: 20px;
            margin: 5px;
            font-size: 14px;
        }

        .btn {
            display: inline-block;
            margin-top: 25px;
            padding: 12px 28px;
            background: #a968e6;
            color: white;
            text-decoration: none;
            border-radius: 25px;
            transition: 0.3s;
        }

        .btn:hover {
            background-color: rgb(39, 20, 90);
        }

