 /* HERO SECTION */

        .Home {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 120px 0;
        }

        /* .firstSection>div {
            width: 40%;
        } */

        .leftSection {
            font-size: 3.5rem;
            line-height: 1.3;
            padding-left: 5vw;
        }

        .purple {
            color: rgb(169, 104, 230);
        }

        /* PROFILE IMAGE CARD */

        .profile-img {
            width: 800px;
            height: 500px;
            display: flex;
            justify-content: center;
            /* align-items: center; */
            /* border-radius: 20px; */
            /* overflow: hidden; */
            /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6); */
            /* transition: transform 0.3s ease; */
        }

        /* .profile-img:hover {
            transform: translateY(-10px);
        } */

        .profile-img img {
            max-width: 60%;
            height: auto;
            object-fit: cover;
        }

        /* RIGHT SECTION ALIGNMENT */

        .rightSection {
            display: flex;
            justify-content: center;
        }

        #element {
            color: rgb(169, 104, 230);
        }

        #Me {
            color: rgb(169, 104, 230);
        }
        .left a{
            text-decoration: none;
            color: white;
        }
        .socialmedialinks{
            display: flex;
            width: 50%;
            height: auto;
            justify-content: left;
            align-items: center;
            margin-top: 1vw;
            /* margin-left: 1vw; */
        }
        .socialmedialinks a{
            margin: 0 0.45vw;

        }
        /* .briefintro{
            display: flex;
            width: 100%;
            font-family: sans-serif;
            font-size: 0.55em;
            margin-top: 4vw;
        } */
        .resumebtn{
            display: flex;
            justify-content: center;
            /* color: white; */
            align-items: center;
            font-family: monospace;
            font-size: 1.8vw;
            width: 50%;
            height: 8vh;
            margin-top: 0.5vw;
            /* margin-left: 1vw; */
            background-color: rgb(169, 104, 230);
            /* border: 2px solid rgb(169, 104, 230); */
            border-radius: 15px;
            transition: 0.3s;
        }
        .resumebtn a{
            text-decoration: none;
            color: white;
        }
        .resumebtn:hover{
            background-color: rgb(39, 20, 90);
        }