 .services {
     padding: 80px 0;
     text-align: center;
 }

 .services h2 {
     font-size: 40px;
     margin-bottom: 60px;
 }

 .services h2 span {
     color: #8c4ed4;
 }

 .services-container {
     display: flex;
     justify-content: center;
     gap: 40px;
     flex-wrap: wrap;
 }

 .service-card {
     background: #0e013b;
     padding: 40px 30px;
     width: 320px;
     border-radius: 20px;
     transition: 0.3s ease;
 }

 .service-card:hover {
     transform: translateY(-10px);
 }

 .icon {
     font-size: 40px;
     color: #8c4ed4;
     margin-bottom: 20px;
 }

 .service-card h3 {
     font-size: 24px;
     margin-bottom: 15px;
 }

 .service-card p {
     font-size: 14px;
     color: #cfcfcf;
     line-height: 1.6;
 }

 .service-card img {
     width: 65px;
     margin-bottom: 20px;
 }